{% extends 'template.html.twig' %}

{% block body %}

    <div id= "ContactForm" class="box-body">
        {{form_start(form)}}
        {{form_widget(form)}}
        <div class="form-group">
            <label for="Email1">Email address</label>
           
            {{form_widget(form.firstname)}}
        </div>



        <input type="submit" class="btn" value="create"/>
        {{form_end(form)}}
    </div>
{% endblock %}