{% extends 'template.html.twig' %}
{% block headTile %}
    <h1>

    </h1>
    <ol class="breadcrumb">
        <li><a href="{{path('add-groupe')}}"><i class="fa fa-dashboard"></i> Ajouter Groupe</a></li>

    </ol>
{% endblock %}
{% block body %}

    <div class="box-body" ng-app="MonApp">
        <div class="row"  ng-controller="PanelController">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Application</label>
                        <select multiple class="form-control select2" multiple="multiple" ng-model="panel.application" data-placeholder="Recherche Application" >
                            <option ng-repeat="obj in panels" data-ng-model="obj.selected" value="[[obj.application]]">[[obj.application]]  </option>
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Solution/Marque</label>
                        <select multiple class="form-control select2" multiple="multiple" ng-model="panel.solution" data-placeholder="Recherche Solution/Marque" >
                            <option ng-repeat="obj in panels" value="[[obj.solution]]">[[obj.solution]]/[[obj.marque]]  </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Corps</label>
                        <select multiple class="form-control select2" ng-model="panel.corpeOne" multiple="multiple" data-placeholder="Recherche Corps ">
                            <option ng-repeat="obj in panels" value="[[obj.corpeOne]]">[[obj.corpeOne]]  </option>
                        </select>
                    </div>
                </div>


            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Département</label>
                        <select multiple class="form-control select2" ng-model="panel.departement" multiple="multiple" data-placeholder="Recherche Département" >
                            <option ng-repeat="obj in panels" value="[[obj.departement]]">[[obj.departement]]  </option>
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Distributeurs</label>
                        <select class="form-control select2" ng-model="panel.distributeur"  multiple="multiple" data-placeholder="Recherche Distributeurs" >
                            <option ng-repeat="obj in panels" value="[[obj.distributeur]]">[[obj.distributeur]]  </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Taille</label>
                        <select class="form-control select2" ng-model="panel.taille" multiple="multiple" data-placeholder="Recherche Taille ">
                            <option ng-repeat="obj in panels" value="[[obj.taille]]">[[obj.taille]]  </option>
                        </select>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sociéte</label>
                        <select class="form-control select2" ng-model="panel.societe" multiple="multiple" data-placeholder="Recherche Sociéte ">
                            <option ng-repeat="obj in panels" value="[[obj.societe]]">[[obj.societe]]  </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nom</label>
                        <select class="form-control select2" ng-model="panel.firstname" multiple="multiple" data-placeholder="Recherche Nom" >
                            <option ng-repeat="obj in panels" value="[[obj.firstname]]">[[obj.firstname]]   </option>
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Prenom</label>
                        <select class="form-control select2" ng-model="panel.lastname" multiple="multiple" data-placeholder="Recherche Prenom" >
                            <option ng-repeat="obj in panels" value="[[obj.lastname]]">[[obj.lastname]]  </option>
                        </select>
                    </div>
                </div>




            </div>

            <hr />
            <h3>Segment</h3>
            <p>Called <code>[[ctrl.counter+0]]</code> times</p>
            <div ng-model="newSkill">
                {# <input>
                 [[panel.application ]],[[panel.lastname ]],[[panel.firstname ]],[[panel.societe ]],[[panel.taille]],[[panel.distributeur ]],[[panel.departement ]],[[panel.corpeOne ]][[panel.solution ]]
                 </input>#}
                <input type="text" name="newSkill" ng-model="newSkill" required  value="[[panel.application]]"/>
            </div>


            <form name="skillsFrm" ng-submit="addSkill()">
                <input type="text" name="newSkill" ng-model="newSkill"  required ></input>
                <button ng-disabled="skillsFrm.$invalid" ng-click="addSkill()">Add</button>
            </form>

            <ul>
                <li ng-repeat="skill in skills" class="{'fadeOut' : skill.done}">
                    <span class="fa fa-close" ng-click="deleteSkill($index)"></span>
                    <span>[[skill.title]]</span>
                </li>
            </ul>



        </div>

    </div>


{% endblock %}