{% extends 'template.html.twig' %}
{% block headTile %}
    <h1>

    </h1>
    <ol class="breadcrumb">
        <li><a href="{{path('add-groupe')}}"><i class="fa fa-dashboard"></i> Ajouter Groupe</a></li>

    </ol>
{% endblock %}
{% block body %}

    <div class="box-body" ng-app="MonApp">
        <div class="row"  ng-controller="PanelController">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nom</label>
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Nom" ">
                            <option ng-repeat="obj in panels" value="[[obj.id]]">[[obj.firstname]] - [[obj.lastname]]  </option>
                        </select>
                    </div>
             
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Prenom</label>
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Prenom" ">
                            <option ng-repeat="obj in panels" value="[[obj.id]]">[[obj.lastname]]  </option>
                        </select>
                    </div>
                </div>
                
                 <div class="col-md-4">
                    <div class="form-group">
                        <label>Application</label>
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Application ">
                            <option ng-repeat="obj in panels" value="[[obj.id]]">[[obj.application]]  </option>
                        </select>
                    </div>
                </div>
                

            </div>
            
            <div class="row">
                selcted: 
                
            </div>

        </div>

    </div>


{% endblock %}