{% extends 'template.html.twig' %}
{% block headTile %}
    <h1>

    </h1>
    <ol class="breadcrumb">
        <li><a href="{{path('add-groupe')}}"><i class="fa fa-dashboard"></i> Ajouter Groupe</a></li>

    </ol>
{% endblock %}
{% block body %}
    <div class="box-body" ng-app="MonApp">
        <div class="row"  ng-controller="PanelController">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                 <ui-select multiple position="up" ng-model="ctrl.multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Select Prenom..."> [[$item.lastname]] </ui-select-match>
                    <ui-select-choices repeat="person in panels ">
                        <div ng-bind-html="person.lastname"></div>
                       {# <small>
                            email:
                            [[person.firstname]]
                            age: <span ng-bind-html="''+person.firstname"></span>
                        </small>#}
                    </ui-select-choices>
                </ui-select>

            </div>
            <div class="col-md-4">
                <ui-select multiple position="down"  ng-model="ctrl.multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Select Nom..."> [[$item.firstname]] </ui-select-match>
                    <ui-select-choices repeat="person in panels ">
                        <div ng-bind-html="person.firstname"></div>
                       {# <small>
                            email:
                            [[person.firstname]]
                            age: <span ng-bind-html="''+person.firstname"></span>
                        </small>#}
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

    </div>


{% endblock %}